html{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
}

.LoginPage {
  width: 98vw;
  height: 98vh;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
}

.LoginPage > div{
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}
.col-centered{
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.ChattingRoom{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  word-break: break-word;
}
.button{
  margin: 10px 5px;
  padding: 15px 30px;
  background: purple;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  border: none;
}
.button:hover {
  background: orangered;
}
.chat-con{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-con p{
  width: 50%;
  padding: 5px 20px;
  font-size: 12px;
  border-radius:5px;
  margin: 15px 0;
  color: gray;
  border-radius: 20px;
  opacity: .7;
}